#container {
		background-color: white;
		width: 800px;
		}

#content {
	width: 600px;
	float: right;
	clear:both;
	margin-left: auto;
	margin-right: auto;
	}					

#footer{
	padding-up: 100px;
	margin-left: auto;
	margin-rght: auto;
	clear:both;
	}	
		
#logout{
	float:right;
	padding-right:250px;
	}

#head{
	float:left;
	padding-left:300px;
	}
		
#searchbar{
	float:right;
	}
			
#error{
	color: red;
	}
